polymathmusician67.com {
  encode zstd gzip

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }

  reverse_proxy app:3000
}

www.polymathmusician67.com {
  redir https://polymathmusician67.com{uri} permanent
}
